body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  
  .header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  
  .title {
    font-family: fantasy;
    font-size: 45px;
  }

  .sub-title {
    font-size: 25px;
    padding: 20px;
    color: #ccc;
  }

  .footer {
    text-align: center;
    padding: 50px;
  }
  
  .nGY2GThumbnail {
      box-shadow: 10px 2px 25px rgb(65 65 65 / 15%);
  }