body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

.header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.title {
  font-family: fantasy;
  font-size: 45px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 25px;
  padding: 10px;
  color: #ccc;
}

.thumbnail-title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.footer {
  text-align: center;
  padding: 50px;
}

.about-me {
  text-align: center;
}

.about-me-description {
  text-align: center;
}

.me-image {
  width: 450px;
  height: auto;
}

.nGY2GThumbnail {
    box-shadow: 10px 2px 25px rgb(65 65 65 / 15%);
}